.vs/LottoRandomNumberGenerator/v14/.suo
LottoRandomNumberGenerator/bin/
LottoRandomNumberGenerator/obj/
/.vs
/LottonRandomNumberGeneratorV2/bin/Debug/net6.0
/LottonRandomNumberGeneratorV2/obj
/Tests/obj
/Tests/bin/Debug/net6.0
/LottonRandomNumberGeneratorV2/bin/Release/net6.0
/LottonRandomNumberGeneratorV2/Properties/PublishProfiles/FolderProfile.pubxml.user
/Tests/bin/Release/net6.0
/RetroConsoleLook/obj
/DriverCore/obj
/DriverCore/bin/Debug/net6.0
/LottoCore/obj
/Models/bin/Debug/net6.0
/Models/obj
/RetroConsoleLook/bin/Debug/net6.0-windows
/DriverCore/bin/Release/net6.0
/LottoCore/bin
/Models/bin/Release/net6.0
/RetroConsoleLook/bin/Release/net6.0-windows
